<nav class="navbar navbar-expand-lg bg-dark p-3">
  <a class="navbar-brand" href="#">
    <img src="https://static.wixstatic.com/media/d67819_525b1cc9ee904f36836cd6db88b8b5de~mv2.png/v1/fill/w_204,h_69,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d67819_525b1cc9ee904f36836cd6db88b8b5de~mv2.png" alt="Logo">
  </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav h6 fw-bold text-white" >
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="'/cliente/listar'">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="'/cliente/agregar'">Agregar clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="'/reparaciones/listar'">Reparaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="cerrarSession()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
</nav>